<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">../logs/om_error</property>
        <property name="ERROR_FILE_NAME">om_error</property>
        <property name="PATTERN">%-5p | %d | om-v1.0 | [%t-%T] (%c:%L) | %m%n</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}" />
        </Console>
        <RollingFile name="ErrorLog"  fileName="${LOG_HOME}/${ERROR_FILE_NAME}.log"
                     filePattern="${LOG_HOME}/${ERROR_FILE_NAME}_%d{yyyy-MM-dd}_%i.log"
                     bufferedIO="false" immediateFlush="true" >
            <PatternLayout  pattern="${PATTERN}"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="20000"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <logger name="org.hibernate" level="INFO" />
        <!--<logger name="org.springframework.security" level="DEBUG" />-->
        <!--<logger name="org.springframework.boot" level="DEBUG" />-->
        <logger name="org.springframework" level="INFO" />
        <logger name="org.mybatis" level="DEBUG" />
        <logger name="com.dangdang.ddframe.rdb" level="DEBUG" />
        <logger name="druid.sql" level="DEBUG" />

        <AsyncLogger  name="com.spartajet.shardingboot.bean" level="DEBUG"  includeLocation="true" additivity="false">
            <appender-ref ref="ErrorLog"/>
            <appender-ref ref="Console"/>
        </AsyncLogger>
        <root level="DEBUG" includeLocation="true">
            <appender-ref ref="Console"/>
        </root>
    </Loggers>
</Configuration>